.App {
  margin: auto;
  width: 600px;
  height: 250px;
  border: 2px dashed #c7cdd3;
  background: #f2f5f8;
  border-radius: 8px;
}

.fileInput {
  width: 600px;
  height: 250px;
  background: #f2f5f8;
  border: 2px dashed #c7cdd3;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cropContainer {
  display: flex;
  justify-content: space-around;
  height: 200px;
}

.cropContainer div:nth-child(1) {
  margin-top: 3px;
  margin-left: -315px;

  top: inherit;
  left: initial;
  right: initial;
  bottom: initial;
  overflow: hidden;
}

.cropContainer div > div {
  color: #f2f5f8;
}

.cropContainer div {
  width: 270px;
  height: 240px;
}

.controls {
  min-width: 250px;
  max-width: 250px;
  height: 80px;
  display: flex;
  align-items: center;
  position: relative;
  bottom: 115px;
  left: 135px;
  transform: translateX(-50%);
}

.label {
  position: absolute;
  top: 0px;
}

.slider {
  padding: 22px 0px;
}

.actions {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;
  align-items: flex-end;
}

.save {
  background: #3d485f;
  border-radius: 16px;
  color: white;
  padding: 5px;
  position: relative;
  width: 109px;
  bottom: 90px;
  left: 8px;
}

.close {
  position: relative;
  bottom: 296px;
  left: 560px;
  font-size: 16px;
  text-transform: uppercase;
  background: #f2f5f8;
  border: none;
  color: #677489;
  font-weight: bold;
}
