.controls {
  min-width: 250px;
  max-width: 250px;
  height: 80px;
  display: flex;
  align-items: center;
  position: relative;
  bottom: 115px;
  left: 135px;
  transform: translateX(-50%);
}

.label {
  position: absolute;
  top: 0px;
}